<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700&family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="B2CjhrFmPga5tw1zmBE4xSeskwhhyHgmBb1Ub4LzYHo" />
  </head>
  <body class="template-{{ template | handleize }}" style="margin: 0;">
    <div class="fade-in" style="display: flex; flex-direction: column; min-height: 100vh;">
      {% section 'header' %}
      
      <main role="main" id="MainContent" style="flex: 1 0 auto;">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>
    
    {% include 'cart-drawer' %}
    
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
